<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Candy Store</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <%- include('navbar') %>
    <div class="homepage">
      <p>
        Welcome to the Candy Store Inventory! Here you can take a look at all
        the different candies and types of candy available. You can add candies
        and types of candies to the inventory as well as update and delete
        information regarding candies and their types.
      </p>
      <p>Numer of candies: <%= candyCount.count %></p>
    </div>
  </body>
</html>
