<html>
  <body>
    <%- include('navbar') %>
    <div>
      <p>
        Welcome to the Candy Store Inventory. Here you can take a look at all
        the different candies and types of candy available.
      </p>
    </div>
  </body>
</html>
