<nav>
  <div class="navbar">
    <div class="navbar-left">
      <img src="/images/candy-logo.png" width="40" height="40" />
      <a href="/">Candy Store</a>
    </div>
    <div class="navbar-right">
      <a href="/candies">Candies</a>
      <a href="/types">Types</a>
    </div>
  </div>
</nav>
