<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Candy Store</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <%- include('../navbar') %>
    <div>
      <p>Candies</p>
      <a href="/candies/create">Create Candy</a>
      <% if (candies) {%> <% candies.forEach(candy => { %> <%-
      include('../partials/candyCard', {candy}) %> <% }); %> <% } %>
    </div>
  </body>
</html>
