<html>
  <body>
    <%- include('../navbar') %>
    <div>
      <p>Candies</p>
      <a href="/candies/create">Create Candy</a>
      <% if (candies) {%> <% candies.forEach(candy => { %> <%-
      include('../partials/candyCard', {candy}) %> <% }); %> <% } %>
    </div>
  </body>
</html>
