<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Candy Store</title>
    <link rel="stylesheet" href="/styles.css" />
    <link rel="icon" href="/images/candy-logo.png" type="image/png" />
  </head>
  <body>
    <%- include('../navbar') %>
    <div>
      <form method="POST" action="/types/create">
        <h2>New Type</h2>
        <%- include("../partials/errors.ejs") %>
        <label for="type">Type: </label><br />
        <input
          type="text"
          id="type"
          name="type"
          minlength="1"
          maxlength="20"
          required
        /><br />
        <input type="submit" value="Submit" />
      </form>
    </div>
  </body>
</html>
