<html>
  <body>
    <%- include('../navbar') %>
    <div>
      <h2>Candies from this type</h2>
      <% if (candies) {%> <% candies.forEach(candy => { %> <%-
      include('../partials/candyCard', {candy})%> <% }); %> <% } %>
    </div>
  </body>
</html>
