<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Candy Store</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <%- include('../navbar') %>
    <div>
      <h2>Candies of type: <%= type.name %></h2>
      <form action="/types/delete/<%=type.id%>">
        <input type="submit" value="Delete" />
      </form>
      <% if (candies) {%> <% candies.forEach(candy => { %> <%-
      include('../partials/candyCard', {candy})%> <% }); %> <% } %>
    </div>
  </body>
</html>
