<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Candy Store</title>
    <link rel="stylesheet" href="/styles.css" />
    <link rel="icon" href="/images/candy-logo.png" type="image/png" />
  </head>
  <body>
    <%- include('../navbar') %>
    <div class="candies-body">
      <div class="candies-header">
        <p>Candies of type: <%= type.type %></p>
        <a href="/types/delete/<%=type.id%>" class="button-link">Delete Type</a>
      </div>
      <div class="candies-container">
        <% if (candies) {%> <% candies.forEach(candy => { %> <%-
        include('../partials/candyCard', {candy})%> <% }); %> <% } %>
      </div>
    </div>
  </body>
</html>
